---
layout: default
title: About
---

<div class="about_me">
    <h3>基本信息</h3>
    <table cellpadding="0" cellspacing="0" style="width:100%">
        <tr>
            <td>Name : 老王</td>
            <td>Email : learnforuse@163.com</td>
        </tr>
        <tr>
            <td>Add : 杭州 滨江区</td>
            <td>School : 浙江工业大学</td>
        </tr>
        <tr>
            <td colspan ='2'>Work : iOS开发，微信小程序开发，前端开发</td>
        </tr>
    </table>

    <h3>自我介绍</h3>
    <p>毕业后也一直从事iOS开发工作。</p>
    <p>小程序兴起之后，同时负责微信小程序的前端开发。</p>
    <p>后来在工作期间，同时兼任前端开发</p>


    <h3>重要经历</h3>

    <h4>家乡阶段</h4>
    <span>河南 商丘<br />
        商丘，历史悠久，文化思想也是特色鲜明，辽阔的平原环境，培养胸怀宽广的人民。河南商丘欢迎来自各地的客人。 <br /><br />
    </span>

    <h4>大学阶段</h4>
    <span>浙江工业大学<br />
        我觉得自己很幸运，能在浙工大四年，这四年的经历，是我人生中最宝贵的财富之一。 <br /><br />
    </span>

    <h4>工作阶段</h4>
    <span>十九楼网络股份有限公司 <br />
        优秀的企业文化，铸就优秀的企业，很幸运自己能在这样一个环境里工作。 <br /><br />
    </span>

    <h3>兴趣爱好</h3>
    <p>音乐、电影、读书、跑步、散步、漫画、写代码等</p>

</div>